@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    .project-label{
        @apply mt-4 mb-1 uppercase font-bold text-sm text-[#756f6d];
    }

    .project-input{
        @apply py-[2px] px-1 bg-[#e7e5e4] text-black border-2 border-b-[#8c8682];
    }
}